
// $ui-text---padding: $size---padding !default;
$ui-text---color: gc(text) !default;


@mixin ui-text($type: false) {
  @if ($type) {
    @if ($type == h1) {
      @include get-font(heading, ultralight);

      font-size: 42px;

    } @else if ($type == h2) {
      @include get-font(heading, light);

      font-size: 32px;

    } @else if ($type == h3) {
      @include get-font(heading, light);

      font-size: 24px;

    } @else if ($type == regular) {
      @include get-font(text);

      font-size: 18px;

    } @else {
      @warn('[ui-text] - Font type "' + $type + '" not found');
    }
  }
}

@mixin ui-text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin ui-text-component() {
  .text {
    @include ui-text(regular);

    &--h1      { @include ui-text(h1); }
    &--h2      { @include ui-text(h2); }
    &--h3      { @include ui-text(h3); }

    &--bold {
      @include get-font(text, bold);
    }
  }
}
