@import '../../styles/index';

.chart-bars {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 80px auto;
  grid-template-rows: auto 40px;
  grid-template-areas:
    "yAxis chart"
    ". xAxis";

  &__axis {
    display: flex;
    justify-content: space-between;

    &--x {
      grid-area: xAxis;
      padding: 0 $sizes---padding;
      align-items: center;
    }
    &--y {
      grid-area: yAxis;
      flex-direction: column;
      text-align: right;
      padding: $sizes---padding ($sizes---padding / 4);
    }
  }
  &__axis-value {
    font-size: 12px;
  }
  &__chart {
    grid-area: chart;
    border: solid gc(border);
    border-width: 0 0 1px 1px;
  }
}
