@import '../../styles/index';

.heading {
  border-bottom: 1px solid gc(border);
  margin: 0 (-$sizes---padding) $sizes---padding;
  padding: 0 $sizes---padding $sizes---padding;
  text-transform: capitalize;
}
