@import '../../styles/index';

.heading {
  border-bottom: 1px solid gc(border);
  margin: (-$sizes---padding) (-$sizes---padding) $sizes---padding;
  padding: $sizes---padding;
  background: gc(bgdark);
}
