$palette: (
  bg:       #ffffff,
  bgdark:   #F7F7F9,
  border:   #EEEEEE,
  text:     #444444,

  shadow:   #000000,

  brand:     #4EBABA,
  secondary: #7A62C9,

  s0:      #1E88E5,
  s1:      #00C853,
  s2:      #FBC02D,
  s3:      #FF6D00,
  s4:      #FF3D00,
  s5:      darken(#F7A8FF, 10%),
) !default;
